@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
  }

  html {
    scroll-behavior: smooth;
  }
}
